/changes
/cache
/upload
/*_updated.php
/config.php
/upload/photos/2018
/upload/photos/2017
/upload/videos/
/upload/sounds/
/upload/photos/
/nodejs/models/wo_langs.js
/vnseea.sql
/config.php

# server hotfix backups
*.bak.*
_server_backups/
client/Accept:
client/Content-Length:
client/Content-Type:
client/Host:
client/POST
client/User-Agent:
.pnpm-store/
